# Конфиденциальные данные
.env
secrets.json
service-account.json

# Файлы окружения
.env.local
.env.development
.env.production

# Питон
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
.python-version

# Виртуальные окружения
.venv/
venv/
env/
venv*/

# Идеи/редакторы
.idea/
.vscode/
*.swp
*.swo

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log
logs/